<div class="jumbotron">
  <h1>Epidemy Node SPA</h1>
  <p class="lead">This app is simply up to instantiate Microsoft360 connexion in order yo get access to Graph API that serve the Epidemy bot</p>
  {{#if user}}
    <h4>Welcome {{ user.displayName }}! The bot is actually running</h4>
  {{else}}
    <a href="/auth/signin" class="btn btn-primary btn-large">Click here to sign in</a>
  {{/if}}
</div>